<h4>Perfil del estudiante</h4>
<div class="perfil">
    <mat-card class="card">
        <div class="profile-pic">
            <img src="{{estudiante.avatar}}" alt="">
            <!-- <img src="https://img.freepik.com/vector-premium/ilustracion-avatar-estudiante-icono-perfil-usuario-avatar-jovenes_118339-4402.jpg"> -->
        </div>
        <mat-card-content class="bottom">
            <div class="content">
                <span class="name">Usuario: {{usuario.userName}}</span>
                <span class="about-me">Correo: {{estudiante.email}} <br>Celular: {{estudiante.phone}} </span>
            </div>
            <div class="bottom-bottom">
                <h6 class="stdnt-nm">{{estudiante.name}}</h6>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<div class="detalles">

    <mat-card class="package">
        <mat-card class="package2">
            <span class="package-titulo">Plan</span>
            <mat-card-header class="header">
                <img class="icono" src="https://static.vecteezy.com/system/resources/previews/010/653/143/large_2x/dollar-usd-currency-icon-symbol-illustration-vector.jpg" alt="">
            </mat-card-header>
            <mat-card-content class="content">
                <p><b>Estandard</b></p>
            </mat-card-content>
            <mat-card-footer class="footer">
                <p>Actualmente tiene el plan estándar</p>
            </mat-card-footer>
        </mat-card>
    </mat-card>
    
    <mat-card class="package">
        <mat-card class="package2">
            <span class="package-titulo">Nivel</span>
            <mat-card-header class="header">
                <img class="icono" src="https://img.freepik.com/vector-premium/clave-exito-empresarial-escalera-encontrar-clave-secreta-o-lograr-concepto-objetivo-carrera-hombre-negocios_566886-1142.jpg" alt="">
            </mat-card-header>
            <mat-card-content class="content">
                <p><b>Experto</b></p>
            </mat-card-content>
            <mat-card-footer class="footer">
                <p>Actualmente se encuentra en el nivel experto</p>
            </mat-card-footer>
        </mat-card>
    </mat-card>

    <mat-card class="package">
        <mat-card class="package2">            
            <span class="package-titulo">Cantidad de lecciones</span>
            <mat-card-header class="header">
                <img class="icono" src="https://img.freepik.com/vector-premium/clave-exito-empresarial-escalera-encontrar-clave-secreta-o-lograr-concepto-objetivo-carrera-hombre-negocios_566886-1142.jpg" alt="">
            </mat-card-header>
            <mat-card-content class="content">
                <p><b>30</b></p>
            </mat-card-content>
            <mat-card-footer class="footer">
                <p>Ha completado 30 lecciones</p>
            </mat-card-footer>
        </mat-card>
    </mat-card>

    <mat-card class="package">
        <mat-card class="package2">
            <span class="package-titulo">Tipo de cuenta</span>
            <mat-card-header class="header">
                <img class="icono" src="https://img.freepik.com/vector-premium/clave-exito-empresarial-escalera-encontrar-clave-secreta-o-lograr-concepto-objetivo-carrera-hombre-negocios_566886-1142.jpg" alt="">
            </mat-card-header>
            <mat-card-content class="content">
                <p><b>Estudiante</b></p>
            </mat-card-content>
            <mat-card-footer class="footer">
                <p>Posee una cuenta de estudiante actualmente</p>
            </mat-card-footer>
        </mat-card>
    </mat-card>
</div>