.perfil {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h4 {
  font-weight: bold;
  background: linear-gradient(#00d0ff, #c300ff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  text-decoration: underline;
}
/*Avatar y nombre*/
.card {
  width: 280px;
  height: 280px;
  background: linear-gradient(#cbf5ff, #f3ccff);
  border-radius: 32px;
  padding: 3px;
  position: relative;
  box-shadow: #604b4a30 0px 70px 30px -50px;
  transition: all 0.5s ease-in-out;
}

.card .profile-pic {
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  top: 3px;
  left: 3px;
  border-radius: 29px;
  z-index: 1;
  border: 0px solid #fbb9b6;
  overflow: hidden;
  transition: all 0.5s ease-in-out 0.2s, z-index 0.5s ease-in-out 0.2s;
}

.card .profile-pic img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: 0px 0px;
  object-position: 0px 0px;
  transition: all 0.5s ease-in-out 0s;
}

.card .bottom {
  position: absolute;
  bottom: 3px;
  left: 3px;
  right: 3px;
  background: linear-gradient(to top left, #00d0ff, #c300ff);
  top: 80%;
  border-radius: 29px;
  z-index: 2;
  box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px inset;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.card .bottom .content {
  position: absolute;
  bottom: 0;
  left: 1.5rem;
  right: 1.5rem;
  height: 160px;
}

.card .bottom .content .name {
  display: block;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
}

.card .bottom .content .about-me {
  display: block;
  font-size: 0.9rem;
  color: white;
  margin-top: 1rem;
}

.card:hover {
  border-top-left-radius: 55px;
}

.card:hover .bottom {
  top: 20%;
  border-radius: 80px 29px 29px 29px;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

.card:hover .profile-pic {
  width: 100px;
  height: 100px;
  aspect-ratio: 1;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  z-index: 3;
  border: 7px solid #fff;
  box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px;
  transition: all 0.5s ease-in-out, z-index 0.5s ease-in-out 0.1s;
}

.card:hover .profile-pic:hover {
  transform: scale(1.3);
  border-radius: 0px;
}

.card:hover .profile-pic img {
  transition: all 0.5s ease-in-out 0.5s;
}

.stdnt-nm {
  text-align: center;
  color: #fff;
  font-style: italic;
  font-weight: bold;
  text-decoration: double;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}

.card .bottom .bottom-bottom .button:hover {
  background: #f55d56;
  color: white;
}

/*--------------------------------------------------------------------------*/

.package {
  width: 200px;
  background-image: linear-gradient(163deg, #ff00ff 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all 0.25s cubic-bezier(0, 0, 0, 1);
  margin: 10px;
  
  box-shadow: #604b4a30 0px 70px 30px -50px;
  min-height: 280px;
}

.package:hover {
  box-shadow: 0px 0px 16px 1px rgba(204, 0, 255, 0.3);
}

.package2 {
  background-color: #fff;
  border-radius: 10px;
  transition: all 0.25s cubic-bezier(0, 0, 0, 1);
  padding: 15px;
  cursor: pointer;
  border: 2px solid rgba(204, 0, 255, 0.3);
  align-items: center;
  text-align: center;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to top left, #c8f5ff, #f2c8ff);
  width: 100%;
  height: 100%;
  .footer {
    font-style: italic;
    color: rgba(204, 0, 255);
  }
}

.package2:hover {
  transform: scale(97%);
  border-radius: 18px;
  border: none;
}

.icono {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

/*------------------------------------------------------------*/

/*Card footer*/
.footer {
  transform: translateY(40%);
  display: flex;
  justify-content: center;
  width: 100%;
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

/*Hover*/

.package2:hover .footer {
  transform: translateY(10%);
  opacity: 1;
}

.package2:hover .package-titulo {
    background: linear-gradient(to top left, #00d0ff, #c300ff);
    background-clip: text;
    color: transparent;
  }

.detalles {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.package-titulo {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
}
