.dialogo{
  color: white;
  background: linear-gradient(#003844, #380049);
  border-radius: 28px;
  border: 3px solid white;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h2, mat-dialog-content{
    color: white !important ;
}

button{
    width: 100px;
    background-clip: text;
    border: 2px solid white;
    color: white !important;   
    margin-right: 6px;
}
button:hover{
    background: linear-gradient(#00d0ff, #bf00ff);
    border: none;
}