.fondo{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: url(https://res.cloudinary.com/dvg1yms5d/image/upload/v1719036059/AidTech/Landing%20page/xqzmmf4dj4kmxkl8kk9q.jpg);
    background-size: cover;
    background-position: center;
}

.contenedor{
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 16px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

button{
    width: 100%;
    background-clip: text;
    border: 2px solid white;
}
button:hover{
    background: linear-gradient(#00d0ff, #bf00ff);
    border: none;
}
button:disabled{
    color:rgb(102, 102, 102);
    border: 2px solid rgb(110, 110, 110);
}

.eye{
    border: none;
    background: linear-gradient(#c3f4ff, #f2c7ff);
    background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, .2);
    padding: 4px;
    width: auto;
}

.eye:hover{
    background: linear-gradient(#c3f4ff, #f2c7ff);
    background-clip: text;
    color: transparent;
}

.eye:disabled{
    border: none;
}

a{
    font-size: 12px;
    text-align: left;
}




.btnLP{
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    margin: 10px;
    padding: 10px 20px;
}