.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  max-width: 400px;
  margin: 10px;
}

mat-card-header{
  justify-content: center;
  text-transform: uppercase;
  mat-card-title{
    font-weight: bold;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  }
}

/*Texto gradiente y en negrita para el titulo*/
h4 {
  font-weight: bold;
  background: linear-gradient(#00d0ff, #c300ff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  text-decoration: underline;
}

/*--------------------------------------------------*/

.card {
  background: #fff;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
}

.card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  background-color: #fff;
  color: #008bf8;  
  border: 2px solid #008bf8;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

/*Hover*/
.card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

button:hover {
  color:white;
  background: linear-gradient(#00d0ff, #bf00ff);
  border: none;
}

img{
  width: 100%;
}